.logo{
    box-sizing: border-box;
    font-family: sans-serif;
    background:  #013327;
    padding: 2rem 1rem 1rem 5rem;
    width: 1050px;
}
.container{
    width: 624px;
    background: rgba(177, 224, 35, 0.1);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    height: 81px;
    margin-bottom: 5px;
    margin-top: 70px;
    margin-left: 90px;
    
}
h{
    color: #055844;
    margin-left:60px;
    position: absolute;
    margin-left: 50px; 
    margin-top: 26px;
    margin-bottom: 19px;
}
body{
    background: #E5E5E5;
}
h1{
    
    font-size: 48px;
    margin-left: 90px;
    font-family: sans-serif;
    color:  #777777;
    font-weight: bold;
}
fieldset{
    width: 636px;
    height: 134.18px;
    margin-left: 90px;
    margin-bottom: 60px;
    background: #FFFFFF;
    
    
}
input[type="email"]{
    width: 361px;
    height: 36px;
    font-size: 24px;
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
    border: 0px;
    position: absolute;
       
}
input[type="password"]{
    width: 247px;
    height: 36px;
    font-size: 24px;
    display: flex;
    margin-left: 50px;
    border: 0px;
    margin-right: 800px;
    position: absolute;
    margin-top: 40px;
   
}
.box{
    margin-left: 90px;
    font-size: 18px;
    color: #7F8B94;
}

label {
    font-size: 20px;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 50px;
    bottom: 0px;
    
    
}
h0{
    margin-left: 664px;
    font-size: 18px;
    color: #7F8B94;

}
.container2{
    width: 636px;
    background: #013327;
    margin-left: 90px;
    height: 95px;
    display: inline-block;
    margin-top: 50px;
   
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    margin-left: 260px; 
   
}
mainbody{
    display: inline-block;
    float: right;
    height: 1289px;
    width: 862px;
    top: 0px;
    position: absolute;
    left: 1058px;
    font-size: 48px;
    text-align: justify;
   background-image: url(assets/image.svg);
}
.right-header {
    font-weight: 800;
    font-family: sans-serif;
    font-size: 40px;
    color: #E6E6E6;
    top: 354px;
    width: 681px;
    height: 288px;
    color: #E6E6E6;
    margin-top: 354px;
    margin-left: 100px;
    margin-bottom: 647px;
    
}
.show-pass{
    color: #EE5331;
    font-weight: bold;
    font-size: 14px;
    margin-left: 552px;
}
.btn-left{
    width: 350px;
    height: 85px;
    left: 450px;
   background: rgba(119, 119, 119, 0.5);
    position: absolute;
}
.btn-right{
    background: #FFFFFF;
    width: 345px;
    height: 85px;
    border-top: 0px;
    top: 845px;
}
button{
    font-weight: bold;
    font-size: 20px;
    margin-left: 55px;
    border: 0px;
    
}
.text{
    font-weight: 300;
    font-size: 18px;
    position: absolute;
    width: 625px;
    margin-top: 250px;
    background: rgba(196, 196, 196, 0.2);
}
input [type="checkbox"]{
    background: #B1E023;
}